{% load static %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Django : accueil</title>
        
    <!-- BOOTSTRAP CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'formation/css/index.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Django</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">ACCUEIL</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">À PROPOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <section class="container">
        <div class="text-center">
            <h1>Pour nous contacter</h1>
            <p class="text-prez">Quoi de mieux qu'un petit mail.</p>
        </div>
    </section>

    <section class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Nom</span>
            <input type="text" class="form-control" aria-label="lastname" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Prénom</span>
            <input type="text" class="form-control" aria-label="firstname" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Mail</span>
            <input type="text" class="form-control" placeholder="toto@exemple.com" aria-label="email" aria-describedby="basic-addon1">
        </div>
          
        <div class="input-group">
            <span class="input-group-text">Votre message</span>
            <textarea class="form-control" aria-label="message"></textarea>
        </div>
    </section>

    <!-- BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>