{% extends 'formation/base.html' %}

{% block content %}

  <section class="container">
      <div class="text-center">
          <h1>Pour nous contacter</h1>
          <p class="text-prez">Quoi de mieux qu'un petit message.</p>
      </div>
  </section>

  <!-- Formulaire -->
  <section class="container">

      <form method="POST" class="post-form" action="{% url 'new-contact' %}">{% csrf_token %}
          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nom</span>
              <input id="lastname" type="text" class="form-control" aria-label="lastname" aria-describedby="basic-addon1" name="lastname" required> 
          </div>

          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon2">Prénom</span>
              <input id="firstname" type="text" class="form-control" aria-label="firstname" aria-describedby="basic-addon1" name="firstname" required>
          </div>

          <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">Mail</span>
              <input id="email" type="text" class="form-control" placeholder="toto@exemple.com" aria-label="email" aria-describedby="basic-addon1" name="email" required>
          </div>
          
          <div class="input-group">
              <span class="input-group-text" id="basic-addon4">Votre message</span>
              <textarea id="message" class="form-control" aria-label="message" name="message" required></textarea>
          </div>

          <div class="pt-3 text-center">
              <button type="submit" id="submit" class="btn btn-outline-primary">Envoyer</button>
          </div>
      </form>
      
  </section>

  <!-- Message des contacts -->
  <section class="container pt-4">
    <h2>Messages</h2>
    {% for message in messages %}
    <div class="message">
      <h5>{{ message.firstname }} {{ message.lastname }} <span class="datetime">Envoyé le {{ message.created_date }}</span></h5>
      <p>{{ message.message }}</p>
    </div>
    {% endfor %}
  </section>

{% endblock %}