body {
    background-color: #3A4150;
}

.dash-nav {
    background-color: #545F77;
    border-bottom: 2px solid #3A4150;
}

.second-nav {
    width: 250px;
    display: block;
    height: calc(100vh - 58px);
    background-color: #545F77;
}

.second-nav li {
    color: #FFF;
    font-size: 20px;
    padding: 10px;
}

.last-item {
    border-bottom: #FFF 1px solid;
}

.text-white {
    color: #FFF;
}

.bg-card {
    color: #8CFFE5;
    background-color: #545F77;
    border-bottom: 5px solid #8CFFE5;
    padding-top: 10px;
}

.bg-card-sb {
    background-color: #545F77;
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 15px;
}

.icon .fa {
    font-size: 55px;
}